*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}
body{
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
}

/*-------------------HEADER---------------------*/

header ul li a{
    color: white;
}

/*-----------------------FOOTER----------------------------*/
footer{
    background-color: #070d16;
    width: 100%;
    color: white;
    align-items: center;
    font-size: 0.8rem;
}
footer .row{
    padding: 15px;
}
footer .footer1{
    margin: auto;
}
footer section h4{
    color: #6AB528;
}

footer .footer2{
    align-self: center;
}
footer .footerboton{
    background-color: #6AB528;
}
footer .footerboton:hover{
    background-color: #083B86;
    color: white;
}
footer .wpp{
    position:fixed;
    bottom:20px;
    right:20px;
}




/*------------------------INDEX-------------------------*/
.Index{
    background-color: white;
    color: #083B86;
    font-family: 'Josefin Sans', sans-serif;
    margin: auto;
}
.A h1{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
.A .A1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}
.A .A2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.A .A2 ul{
    list-style: none;
    font-size: 1.5rem;
}
.A .A2 .list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.A .corp{
    align-self: flex-end;
    color: #6AB528;
}

.B .form{
    font-size: 1rem;
    border: #083B86 solid;
    border-radius: 10px;
    padding: 15px;
    color: #083B86;
    box-shadow: 7px 7px 10px #5c5d5e;
}
.B .form .titulof{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
.B .form .controls{
    width: 100%;
    padding: 10px;
    border: 1px solid #083B86;
    border-radius: 4px;
    margin-bottom: 5px;
    font-family: 'Josefin Sans', sans-serif;
    color: #083B86;
}
.B .form .pf{
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
}
.B .form .pf a{
    color: #083B86;
    text-decoration: none;
}
.B .form .pf a:hover{
    color: #6AB528;
    text-decoration: underline;
}
.B .form .extboton{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.B .form .boton{
    background-color: #6AB528;
    border: none;
    padding: 10px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}
.B .form .boton:hover{
    background-color: #083B86;
    color: white;
}

.C{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.D, .E, .F{
    text-align: center;
}
.D h3, .E h3, .F h3{
    margin-top: 20px;
}
.Dbox, .Ebox, .Fbox{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    border: #083B86 double 2px;
    border-radius: 2%;
    box-shadow: 7px 7px 10px #5c5d5e;
}
.Dbox1, .Ebox1, .Fbox1{
    display: flex;
    flex-direction: row;
}
.Dbox2, .Ebox2, .Fbox2{
    display: flex;
    flex-direction: row;
}
.D .Dbox img, .E .Ebox img, .F .Fbox img{
    padding: 5px;
    border: #083B86 solid 2px;
    border-radius: 100%;
    justify-self: center;
}

.G{
    margin-top: 50px;
    align-content: center;
}

.G img{
    border: solid white;
    border-radius: 8%;
    margin-bottom: 20px;
}

.G .G1B, .G2B, .G3B{
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.G h2{
    font-family: 'Ubuntu', sans-serif;
}

.H{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.I, .J, .K{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 15px;
}
.I h3, .J h3, .K h3{
    background-color: #083B86;
    color: white;
    padding: 10px 0px 10px 0px;
}
.I p, .J p, .K p{
    padding: 10px 0px 10px 0px;
}
.I a, .J a, .K a{
    margin: auto;
    width: 50%;
}
.I input, .J input, .K input{
    background-color: #6AB528;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
    border: 1px solid #6AB528;
    border-radius: 5px;
}
.I input:hover, .J input:hover, .K input:hover{
    background-color: #083B86;
    color: white;
    padding: 10px;
    border: 1px solid #083B86;
    border-radius: 5px;
    transform:scale(1.1, 1.1) /*aumenta el tamano 1.1)*/
}


/*--------------------PROGRAMAS---------------------*/
h1, h2{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: #083B86;
}
.Programas{
    padding-bottom: 25px;
}



/*--------------------MATRICULAS---------------------*/

.Matriculas{
    font-family: 'Josefin Sans', sans-serif;
    color: #083B86;
}
.Matriculas .MA{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-left: 8%;
    margin-bottom: 15px;
}
.Matriculas .MA h1{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
.Matriculas .MB{
    display: grid;
    grid-template-columns: 1 fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "Ml1 Ml2"
    "Ml3 Ml4"
    "Ml5 Ml6";
    align-items: center;
    width: 80%;
    margin: auto;
}
.Matriculas .MB .Ml1{
    grid-area: Ml1;
}
.Matriculas .MB .Ml2{
    grid-area: Ml2;
    list-style: none;
}
.Matriculas .MB .Ml3{
    grid-area: Ml3;
}
.Matriculas .MB .Ml4{
    grid-area: Ml4;
    list-style: none;
}
.Matriculas .MB .Ml5{
    grid-area: Ml5;
}
.Matriculas .MB .Ml6{
    grid-area: Ml6;
    list-style: none;
}
.Matriculas .MB .Ml1, .Ml3, .Ml5{
    list-style: none;
    font-size: 1.8rem;
    text-align: center;
    border: #083B86 solid 2px;
    border-radius: 100%;
    padding: 5px 12px 5px 12px;
    background-color: #6AB528;
    box-shadow: 3px 3px 10px #5c5d5e;
}
.Matriculas .MC{
    text-align: center;
}

.Matriculas .MDext .MD .MDA h2, .Matriculas .MDext .MD .MDA h4{
    color: #083B86;
}
.Matriculas .MDext{
    padding-top: 20px;
    padding-bottom: 20px;
}
.Matriculas .MD .MDA{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 20px;
}

.Matriculas .MD .MDA i{
    font-size: 1.8rem;
    text-align: center;
    border: #083B86 solid 2px;
    border-radius: 100%;
    padding: 5px 12px 5px 12px;
    background-color: #6AB528;
    box-shadow: 3px 3px 10px #4b4d4e;
    margin-right: 15px;
    margin-left: 5px;
}
.Matriculas .MD .form{
    background-color: #070d16;
    margin: auto;
    width: 85%;
    border-radius: 10px;
    padding: 15px;
    color: white;
    box-shadow: 7px 7px 10px #c8d2e1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.Matriculas .MD .form p{
    font-size: 1rem;
}


/*--------------------ESTUDIANTES---------------------*/
.Estudiantes{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
    grid-template-areas: 
    "EA EB";
    font-size: 2.5rem;
}
.Estudiantes .EA{
    grid-area: EA;
    background-image: url("./imag/IngV.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.Estudiantes .EB{
    grid-area: EB;
    background-image: url("./imag/IngP.PNG");
    background-repeat: no-repeat;
    background-size: cover;
}
.Estudiantes .EA .EAint, .EBint{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-items: flex-end;
}
.Estudiantes .EA a, .EB a{
    text-decoration: none;
}
.Estudiantes .EA .EAint:hover{
    border: #6AB528 10px solid;
}
.Estudiantes .EBint:hover{
    border: #083B86 10px solid;
}
.Estudiantes .EA h2, .EB h2{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    align-self: center;
    padding-left: 5%;
    padding-right: 5%;
}


/*--------------------CONTACTOS---------------------*/
.contactos{
    margin:auto;
    width: 90%;
    font-family: 'Josefin Sans', sans-serif;
    color: #083B86;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "CA CA CD"
    "CB CC CD";
}
.contactos .CA{
    grid-area: CA;
    margin-top: 40px;
}
.contactos .CA h1{
    padding-bottom: 15px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
.contactos .CA p{
    text-align: center;
    padding: 3px;
}
.contactos .CB{
    grid-area: CB;
    display: flex;
    justify-content: flex-end;
}
.contactos .CC{
    grid-area: CC;
}
.contactos .CC:hover, .CB:hover{
    transform:scale(1.1, 1.1) 
}
.contactos iframe{
    padding: 15px;

}
.contactos .CD{
    grid-area: CD;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.contactos .CD form{
    width: 400px;
    border: 2px solid #083B86;
    border-radius: 2%;
    padding: 10px;
}
.contactos .CD form h2{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}
.contactos .CD form input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #083B86;
    border-radius: 4px;
    margin-bottom: 5px;
    font-family: 'Josefin Sans', sans-serif;
    color: #083B86;
}
.contactos .CD form .boton{
    background-color: #6AB528;
    border: none;
    padding: 10px;
    color: white;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}
.contactos .CD form .boton:hover{
    background-color: #083B86;
    color: white;
}
.contactos .CD div{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
}
.contactos .CD div img{
    margin: 5px;
}


/*--------------------Terminos y Condiciones---------------------*/
.TDTC{
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Josefin Sans', sans-serif;
    color: #083B86;
    margin: auto;
}
.TDTC h2{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px;
    margin-top: 40px;
}
.TDTC p{
    padding-bottom: 40px;
}